/*Wide Mobile Layout: 1280px.*/
@media only screen and (min-width: 576px) and (max-width: 767px){
	.menu-trigger{
		top: 20px;
	}
}
 @media only screen and (max-width: 395px){
	.slider-contents a {
	  font-size: 10px;
	  padding: 7px 2px;
	}
}
/*Mobile Layout: 320px.*/
@media only screen and (max-width: 767px){
	.spaces-90{
	  height: 30px;
	}
	.right-side ul {
	  display: flex;
	  padding: 0;
	  margin: 0px;
	  margin-bottom: 8px;
	}
	.right-side ul li {
	  display: flex;
	}
	.right-side ul li i{
		padding-top: 5px;
	}

	.menu-trigger{
    	opacity: 1;
    	visibility: visible;
	}
	.mainmenu ul{ 
		opacity: 0;
		display: none;
	}

	.slider-contents h2 {
	  font-size: 26px;
	  font-weight: 500;
	}
	.slider-contents p {
  		width: 100%;
  	}
  	.slider-contents a {
	  display: inline;
	  font-size: 11px;
	  padding: 10px 5px;
	  width: 120px;
	  margin: 0;
	}
	.single-service-box{
		margin-bottom: 20px;
	}
	.about-section-text h2 {
  text-align: center;
  margin-bottom: 10px;
}
.bordered-img {
  margin-bottom: 20px;
}
.about-us-aection-area {
  padding: 30px 0px;
}
.cta-section {
  padding: 20px 0px;
}
.cta-boxed-btn{
	margin-top: 10px;
}
.our-projects-section-area {
  padding: 30px 0px;
}
.single-project-item h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 15px;
}
.single-project-item{
	padding-top: 25px;
	padding-bottom: 20px;
	font-size: 12px;
}
.single-team-member-item {
  margin-bottom: 20px;
}
.brand-logo-area {
  padding: 25px 0px;
}
.footer-area {
  font-size: 12px;
  padding: 20px 0px;
}
.footer-logo{
	width: 45%;
	margin: 0 auto; 
}
.footer-area h3 {
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 30px;
}
.about-text, .navigation-text, .latest-news, .get-in-touch {
  text-align: center;
  margin-bottom: 25px;
}
.footer-area h3::after{
	left: 45%;
	transform: translateX(-45%);
}
.navigation-text ul li::before{
	left: 35%;
	line-height: 18px;
}
.single-blog-post h4 {
  font-size: 15px;
  line-height: 25px;
}
.service-title {
  padding-bottom: 20px;
}
.service-section-area {
  padding-top: 30px;
}
}
/*Medium Layout: 1280px.*/
@media only screen and (min-width: 992px) and (max-width: 1199px){
	.mainmenu ul li {
  padding: 5px 12px;
}
.right-side ul{
	padding: 0;
}
.service-box-title h2{
	font-size: 18px;
}
.get-in-touch p i {
  padding: 0px;
  width: 20px;
  text-align: center;
}
.email-subscribe {
  font-size: 14px;
}
.about-section-text {
  padding: 15px 0px;
	font-size: 15px;
}
.about-us-aection .col-lg-7 {
  padding-right: 15px;
  padding-left: 15px;
}
.bordered-img img {
  width: 100%;
  height: auto;
}
}
@media only screen and (min-width: 1200px){
.about-us-aection .col-lg-7 {
  padding-right: 0px;
  padding-left: 0px;
}
.about-section-text {
	font-size: 18px;
	padding: 29px 0px;
}
.bordered-img img {
  width: 100%;
  height: auto;
}
}


/*Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px){
	.mainmenu ul li a{
		font-size: 14px;
	}
	.right-side ul{
		margin-bottom: 10px;
		padding: 0px;
	}
	.service-section-area {
	  	padding-top: 50px;
	}
	.mainmenu ul li{
		padding: 5px 5px;
	}
	.service-box-title{
		top: 185px;
	}
	.service-box-title h2{
		font-size: 13px;
	}
	.service-box-content {
	  padding: 15px;
	  padding-top: 35px;
	  font-size: 12px;
	  text-align: justify;
	}
	
	.bordered-img img {
	  width: 100%;
	  height: auto;
	}
	.service-box-content a{
		font-size: 14px;
	}
	.spaces-90{
		padding: 20px;
		height: 0px;
	}
	.service-title {
	  padding-bottom: 30px;
	}
	.about-us-aection-area{
		padding: 50px 0px;
	}
	.about-section-text {
	  padding: 6px 0px;
	  font-size: 14px;
	  line-height: 15px;
	}
	.bordered-img img{
		height: 400px;
	}
	.about-section-text p {
	  margin-bottom: 5px;
	}
	.about-section-text h2 {
	  font-size: 20px;
	}
	.cta-boxed-btn {
	  font-size: 14px;
	  padding: 8px 10px;
	  font-weight: 600;
	}
	.cta-section{
		padding: 20px 0px;
	}
	.our-projects-section-area {
	  padding: 30px 0px;
	}
	.single-project-item{
		padding-bottom: 0px;
	}
	.cta-section h2 {
	  font-size: 13px;
	  font-weight: 500;
	}
	.single-team-member-item {
	  margin-bottom: 20px;
	}
	.brand-logo-area {
	  padding: 30px 0px;
	}
	.latest-news h4 {
	  font-size: 14px;
	}
	.footer-area h3{
		font-size: 12px;
		padding-bottom: 5px;
	}
	.footer-area{
		padding: 40px;
		font-size: 9px;
	}
	.navigation-text ul li::before{
		line-height: 14px;
	}
	.navigation-text ul li{
		margin-bottom: 8px;
	}
	.footer-area h3::after{
		bottom: -2px;
	}
	.about-text p {
	  padding: 5px 0px;
	  font-size: 14px;
	}
	.footer-logo{
		font-size: 20px;
		width: 65%;
	}
	.about-text .social-links a {
	  margin-right: 5px;
	}
	.get-in-touch p i {
	  width: 15px;
	  padding-right: 0px;
	}
	.get-in-touch p {
	  font-size: 10px;
	}
	.footer-area .container {
	  padding-bottom: 15px;
	}
	.copy-right-area {
	  padding: 10px 0px;
	  font-size: 20px;
	}
}
